example-n8n-workflow.json
{
  "name": "AI Chat Widget Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract message from request\nconst message = $input.item.json.body.message;\nconst sessionId = $input.item.json.body.sessionId;\nconst timestamp = $input.item.json.body.timestamp;\n\nreturn {\n  json: {\n    message: message,\n    sessionId: sessionId,\n    timestamp: timestamp\n  }\n};"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Jesteś pomocnym asystentem AI. Odpowiadaj krótko i zwięźle po polsku."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format response for chat widget\n// Widget supports multiple response formats:\n// - {response: \"...\"}\n// - {message: \"...\"}\n// - {output: \"...\"}\n// - [{output: \"...\"}]\n\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst sessionId = $input.first().json.sessionId;\n\n// Option 1: Return as object with 'response' field (recommended)\nreturn {\n  json: {\n    response: aiResponse,\n    sessionId: sessionId,\n    timestamp: new Date().toISOString()\n  }\n};\n\n// Option 2: Return as object with 'output' field\n// return {\n//   json: {\n//     output: aiResponse,\n//     sessionId: sessionId\n//   }\n// };\n\n// Option 3: Return as object with 'message' field\n// return {\n//   json: {\n//     message: aiResponse,\n//     sessionId: sessionId\n//   }\n// };"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
